* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #430ee3, #362972);
  margin: 0;
  font-family: Arial, sans-serif;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* Remove input outline on focus */
  transition: box-shadow 0.3s ease-in-out; /* Add transition effect */
}

/* Add focus styles */
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.8); /* Adjust the color and size of the shadow */
}

.search-container {
  text-align: center;
  margin-top: 100px;
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%; /* Position it below the search bar */
  left: 50%; /* Move it to the center horizontally */
  transform: translateX(-50%); /* Adjust to center horizontally */
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 1; /* Ensure it's on top of other elements */
}


ul.has-suggestions {
  display: block;
  list-style: none;
}

ul li {
  padding: 10px;
}

ul li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
