* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #ffcc00, #ff9900);
  margin: 0;
  font-family: Arial, sans-serif;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* Remove input outline on focus */
  transition: box-shadow 0.3s ease-in-out; /* Add transition effect */
}

/* Add focus styles */
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.8); /* Adjust the color and size of the shadow */
}

.search-container {
  text-align: center;
  margin-top: 100px;
}

.suggestions {
  /* Remove display: none; */
  position: absolute;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
}


ul.has-suggestions {
  display: block;
}

ul li {
  padding: 10px;
}

ul li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
